<div class="col col-4 stack-cart-box pt-2">
    <div class="row ps-5 py-2">
        <div class="col">
            <button class="bg-transparent border-0 px-2">
                <i class="fa-solid fa-arrow-left text-white"></i>
            </button>
        </div>
        <div class="col">
            <p class="fw-bold fs-5 text-white">Cart</p>
        </div>
        <div class="col">
            <i class="fa-solid fa-cart-shopping text-white"></i>
        </div>
    </div>

    <div class="row stack-item-outer d-flex ">
        <app-cartitem></app-cartitem>
        <app-cartitem></app-cartitem>
    </div>
    <div class="container mt-3 ">
        <div class="row py-2 cal-cart" style="background-color: #004AAD;">
            <div class="col-6 ps-5">
                <p class="text-white align-items-center justify-content-center fs-5 fw-bold">Total Price : 299</p>
            </div>
            <div class="col-3">
                <button class="btn px-4" style="background-color: white;">Clear</button>
            </div>
            <div class="col-3">
                <button class="btn" style="background-color: white;" >Check Out</button>
            </div>
        </div>
    </div>

</div>