<div class="container my-5">
    <div class="row">
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
            <img class="product-img"
                src="assets/images/bg.png"
                alt="Product Image">
        </div>
        <div class="col-12 col-md-6 text-section d-flex align-items-top">
            <div>
                <p class="display-5 fw-bold">Amoxicillin</p>
                <p class="fs-6">A penicillin antibiotic, used to treat bacterial infections, such as chest infections
                    (including
                    pneumonia) and dental abscesses.</p>
                <p>🚚 FREE SHIPPING</p>
                <p class="fs-5 fw-bold">LKR : 49</p>
                <div class="col col-4">
                    <a href="#" class="btn btn-primary mb-3 d-block "><i class="fas fa-cart-shopping me-2"></i>Add to
                        Cart</a>
                </div>
                <div class="col py-4 box px-4">
                    <h5>Uses :</h5>
                    <p>Carry on taking this medicine until you've completed the course, even if you feel better. If you
                        stop your treatment early, the infection could come back. The usual amoxicillin capsule dose is
                        250mg to 500mg, taken 3 times a day.The dose may be lower for children.</p>

                </div>

            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>