<div class="container">
    <div>
        <table>
            <thead>
                <tr>
                    <th>Product Details</th>
                    <th>Price</th>
                    <th>Location</th> 
                    <th>Date</th>
                    <th>status</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td>anadol 2 , Amaoxilin 20</td>
                    <td>449</td>
                    <td>Colombo</td>
                    <td>2024/06/25</td>
                    <td>Hand Over</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

