<div class="cardbox " >
    <div class="cardimage-outer">
        <div class="cardimg ">
            <img class="product-img" src="https://th.bing.com/th/id/R.d2eef5e4ed13f31b8aea35624a0780a8?rik=03xzgClcrWXvig&riu=http%3a%2f%2fwww.chemistwarehouse.com.au%2fimages%2fproductimages%2f6973%2foriginal_CW.jpg&ehk=drg%2bpux2PrR7nDrQdOiKNonFOQqThIN1110JmCfWm2U%3d&risl=&pid=ImgRaw&r=0" alt="Card image cap" >
        </div>
    </div> 
    <div class="card-details-outer">
        <p class="my-2" style="font-size: 20px;line-height: 1;" >Amoxicilin</p>
    </div> 
    <div class="card-details-outer">
        <p class="small-text k-theme">LKR 9</p>
    </div> 
     
    <div class="add-card-outer">
        <a href="#" class="btn btn-outline-dark mb-3 d-block " ><i class="fas fa-cart-shopping me-2"></i>Add to Cart</a>
    </div> 
</div>