<div class="container">
    <div class="container  mt-5">
        <div class="row text-center">
            <div class="col">
                <p class="header-text" style="line-height: 1.2; font-size: 2rem;">Payment Details</p>
            </div>
        </div>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Payment ID</th>
                    <th>Order ID</th>
                    <th>Order Details</th> 
                    <th>Payment Method</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td>13</td>
                    <td>001</td>
                    <td>Panadol 2 , Amaoxilin 20</td>
                    <td>Cash On Delivery</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container pb-5">
    <div class="container  mt-5">
        <div class="row text-center">
            <div class="col">
                <p class="header-text" style="line-height: 1.2; font-size: 2rem;">Orders Mange Dashboard</p>
            </div>
        </div>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Customer ID</th>
                    <th>Customer Name</th> 
                    <th>Ordered Products</th>
                    <th>Price</th>
                    <th>location</th>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td>001</td>
                    <td>23</td>
                    <td>Pasindu Dulanjana</td>
                    <td>Panadol 2 , Amaoxilin 20</td>
                    <td>300</td>
                    <td>Kalubowila</td>
                    <td>2024/06/20</td>
                    <td>Hand Over</td>
                    <!-- <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="statusDropdown"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Select Status
                            </button>
                            <div class="dropdown-menu" aria-labelledby="statusDropdown">
                                <a class="dropdown-item" href="#">Conform</a>
                                <a class="dropdown-item" href="#">Hand Over</a>
                            </div>
                        </div>
                    </td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>

<app-footer></app-footer>