<div class="col py-5 cus-bg-color">
    <div class="col-12 text-center py-4">
        <p class="header-text"style="line-height: 1;" >Products</p>
        <p class="header-support-text">Order it for you or for your beloved ones.</p>
    </div>
    <div class="container">
        <div class="menu-grid">
            <app-product-card></app-product-card>
            <app-product-card></app-product-card>
            <app-product-card></app-product-card>
            <app-product-card></app-product-card>
            <app-product-card></app-product-card>
            <app-product-card></app-product-card>
            <app-product-card></app-product-card>
            <app-product-card></app-product-card>
            <app-product-card></app-product-card>
            <app-product-card></app-product-card>
        </div>
    </div>
</div>
    
